<section>
  <div class="d-flex space-between flex-end">
    <h2>Documentation</h2>
    <p>What's available?</p>
  </div>
  <div class="grid grid--two-columns">
    <figure style="padding-bottom: 45%;" class="image-wrapper">
      <img src="/assets/images/petstore.png" alt="PetStore OpenAPI document" loading="lazy" class="bordered" style="object-position: top;" />
    </figure>
    <figure style="padding-bottom: 45%;" class="image-wrapper">
      <img src="/assets/images/petstore.png" alt="PetStore OpenAPI document" loading="lazy" class="bordered" style="object-position: top;" />
    </figure>
    <figure style="padding-bottom: 45%;" class="image-wrapper">
      <img src="/assets/images/petstore.png" alt="PetStore OpenAPI document" loading="lazy" class="bordered" style="object-position: top;" />
    </figure>
    <figure style="padding-bottom: 45%;" class="image-wrapper">
      <img src="/assets/images/petstore.png" alt="PetStore OpenAPI document" loading="lazy" class="bordered" style="object-position: top;" />
    </figure>
  </div>
</section>
