<section>
    <h2>Mocking</h2>
    <p><strong>Prism</strong> <br>Turn any OpenAPI file into an API server with mocking, transformations, validations, ...</p>
    <img src="/assets/images/prism.png" alt="Screenshot prism" width="60%">
    <div>&nbsp;</div>
    <small><a href="https://github.com/stoplightio/prism">https://github.com/stoplightio/prism</a></small>
</section>
