<section>
  <div class="d-flex space-between flex-end">
    <h2>Talking to the API</h2>
    <p>Manually</p>
  </div>
  <p>What if <strong>breaking changes</strong> occur?</p>
  <ul class="mb-3">
    <li>Parameters</li>
    <li>Endpoint URLs</li>
    <li>Datamodel</li>
  </ul>
  <p>Only validation in:</p>
  <ul>
    <li>Runtime</li>
    <li>Tests (with connection to REST API)</li>
  </ul>
</section>
