<section>
  <div class="d-flex space-between flex-end mb-1">
    <h2>Talking to the API</h2>
    <p>Magically</p>
  </div>
  <strong>Code generation</strong>
  <div>Stop handcrafting requests through <del>Axios</del> Fetch. Generate your own custom SDK!</div>
  <div>→ OpenAPI Generator <a href="https://openapi-generator.tech">https://openapi-generator.tech</a></div>
  <div class="mb-3">→ AutoRest <a href="https://github.com/Azure/autorest">https://github.com/Azure/autorest</a></div>
  <strong>TypeScript?</strong>
  <div>Properties in an OpenAPI document are <strong>typed</strong>.</div>
  <div>Use a TypeScript code generator and <strong>automatically</strong> receive a <strong>typed REST API
      client</strong>.</div>
</section>
