<section>
  <h1 class="mb-3">TIL</h1>
  <div class="mb-3">
    <strong>OpenAPI specification</strong>
    <ul>
      <li class="mb-0">Contract between services</li>
      <li class="mb-0">Unified way of writing documentation</li>
    </ul>
  </div>

  <div class="fragment fade mb-3">
    <strong>Tools</strong><br>
    <ul>
      <li class="mb-0">Automated mocking servers</li>
      <li>SDK generation</li>
    </ul>
  </div>

  <div class="fragment fade">
    <strong>Results</strong><br>
    <ul>
      <li class="mb-0 fragment">Happy developers</li>
      <li class="mb-0 fragment">Happy project managers</li>
      <li class="mb-0 fragment">Happy clients</li>
    </ul>
  </div>
</section>
