<section>
  <pre>
    <code class="language-js" data-trim data-noescape>
const Image = ({
  className, fill, alt, ...props
}) => (
  &lt;img {...props} className={className} alt={alt || &quot;&quot;} /&gt;
);
    </code>
  </pre>
</section>
