<section class="fill">
  <div class="grid grid--two-columns grid--no-gap">
    <div class="text-center px-3">
      <h1 class="mb-3">Maarten <div class="outline">Van Hoof</div>
      </h1>
      <ul class="mb-3 list--unstyled">
        <li>Front end Developer</li>
        <li>Google Mobile Web Specialist</li>
      </ul>
      <img src="https://www.isaac.nl/global/images/logo.svg" alt="ISAAC Software Solutions from Eindhoven"
        style="height: 5vw"; loading="lazy" />
    </div>
    <figure class="image-wrapper" style="align-self: stretch;">
      <img src="/assets/images/mrtnvh-isaac.jpg" alt="Silly photo of Maarten Van Hoof" loading="lazy" />
    </figure>
  </div>
</section>
