<section>
  <div class="d-flex flex-column flex-grow-1">
    <div class="flex-grow-1">
      <div class="d-flex space-between align-end">
        <h2>OpenAPI</h2>
        <p>TL;DR</p>
      </div>
      <p>The OpenAPI Specification (OAS) defines a <mark>standard, language-agnostic interface to RESTful APIs</mark>
        which
        allows both humans and computers to discover and understand the capabilities of the service without access to
        source
        code, documentation, or through network traffic inspection.</p>
      <p>When properly defined, a consumer can <mark>understand</mark> and <mark>interact</mark> with the remote service
        with a <mark>minimal amount of implementation logic</mark>.</p>

    </div>

    <small><a
        href="https://github.com/OAI/OpenAPI-Specification/">https://github.com/OAI/OpenAPI-Specification/</a></small>
  </div>
</section>
