.w-full {
  width: 100%;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 1px #000;
}

.centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-end {
  align-items: flex-end;
}

.flex-grow-1 {
  flex-grow: 1;
}

.overlay-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
