/**
 * Blood theme for reveal.js
 * Author: Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

// Default mixins and settings -----------------
@import "mixins";
@import "settings";
// ---------------------------------------------

// Colors used in the theme
$primary: #95ff00;
$white: #fff;
$meta: #888;

$backgroundColor: $white;

// Main text
$mainFont: "Inter", "system-ui", "sans-serif";
$mainColor: #000;
$mainFontWeight: 300;
$mainFontSize: 2vw;

// Headings
$headingFont: "Montserrat", "system-ui", "sans-serif";
$headingColor: $mainColor;
$headingFontWeight: 900;

$heading1Size: 3.25rem;
$headingLineHeight: 0.75em;

// Code
$codeFont: "Fira Code", monospace;

// Links
$linkColor: $mainColor;
$linkColorHover: $primary;

// Text selection
$selectionBackgroundColor: $primary;
$selectionColor: #fff;

// The------------------------------
@import "theme";
@import "header";
@import "one-dark";
// ---------------------------------------------
html {
  font-size: $mainFontSize;
}

body {
  font-size: 1rem;
  letter-spacing: -0.01vw;
  color: $mainColor;
  font-family: $mainFont;
  font-weight: $mainFontWeight;

  display: grid;
  grid-template-columns: 1fr 3rem;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MDAgNTAwIj48dGl0bGU+ZG90PC90aXRsZT48Y2lyY2xlIGN4PSIyNTAiIGN5PSIyNTAiIHI9IjI1IiBzdHlsZT0iZmlsbDojY2NjIi8+PC9zdmc+);
  background-size: 20px;
  background-position: -10px -10px;
}

a {
  color: $mainColor;
  text-decoration-skip-ink: auto;

  &:hover,
  &:focus {
    color: $primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.reveal {
  font-weight: $mainFontWeight;
  font-size: 1rem;

  .slides {

    section {
      text-align: left;
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;

      &.centered {
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
  }

  pre {
    box-shadow: none;
    font-size: 0.66rem;
    width: 100%;
    margin: 0 0 1rem 0;

    code {
      padding: 1rem;
      max-height: 100vh;
    }
  }

  .progress {
    color: $primary;
  }
}
